In [14]:
import sqlite3


# Fetch records from either chinook.db
db = sqlite3.connect(r'C:\Users\PERAUD_M\Downloads\Lesson_12\sqlite-windows\Chinook_Sqlite.sqlite')
c = db.cursor()
QUERY ='''
SELECT count(distinct Customer.CustomerId) FROM Track,Genre,Customer, Invoice,InvoiceLine
WHERE Track.GenreId=Genre.GenreId
AND Track.TrackId=InvoiceLine.TrackId
AND Invoice.InvoiceId=InvoiceLine.InvoiceId
AND Customer.CustomerId=Invoice.CustomerId
AND Genre.Name='Jazz'

;
'''


c.execute(QUERY)
rows = c.fetchall()

In [15]:
import pandas as pd 
import pprint
df = pd.DataFrame(rows)
pprint.pprint(df)

db.close()

    0
0  32

In [32]:
import sqlite3


# Fetch records from either chinook.db
db = sqlite3.connect(r'C:\Users\PERAUD_M\Downloads\Lesson_12\sqlite-windows\Chinook_Sqlite.sqlite')
c = db.cursor()
QUERY ='''
SELECT Customer.FirstName FROM Track,Genre,Customer, Invoice,InvoiceLine
WHERE Track.GenreId=Genre.GenreId
AND Track.TrackId=InvoiceLine.TrackId
AND Invoice.InvoiceId=InvoiceLine.InvoiceId
AND Customer.CustomerId=Invoice.CustomerId
AND Genre.Name='Jazz'
GROUP BY Customer.FirstName
ORDER BY Customer.FirstName

;
'''


c.execute(QUERY)
rows = c.fetchall()

In [33]:
import pandas as pd 
import pprint
listejazz = pd.DataFrame(rows)
pprint.pprint(listejazz)

db.close()

            0
0       Aaron
1      Astrid
2     Camille
3         Dan
4       Diego
5   Dominique
6      Edward
7     Enrique
8       Frank
9   František
10   François
11       Fynn
12    Heather
13       Hugh
14   Isabelle
15       Jack
16     Joakim
17       John
18      Kathy
19   Madalena
20      Manoj
21       Mark
22     Martha
23   Michelle
24     Niklas
25       Phil
26       Puja
27  Stanisław
28      Steve
29      Terhi
30        Tim
31      Wyatt