First try : not the solution

In [15]:
import sqlite3
import pprint
db = sqlite3.connect(r'C:\Users\PERAUD_M\Downloads\Lesson_12\sqlite-windows\Chinook_Sqlite.sqlite')
c = db.cursor()

In [16]:

QUERY ='''
SELECT AVG(Track.Milliseconds) as moyenne,Track.GenreId FROM Track
;
'''
c.execute(QUERY)
rows = c.fetchall()
import pandas as pd 
import pprint
df1 = pd.DataFrame(rows)
pprint.pprint(df1)

               0  1
0  393599.212104  1

Second try, not the solution

In [17]:
QUERY ='''
SELECT GenreId, Milliseconds FROM Track;
'''

c.execute(QUERY)
rows = c.fetchall()
import pandas as pd 
import pprint
df2 = pd.DataFrame(rows)
pprint.pprint(df2)

       0       1
0      1  343719
1      1  342562
2      1  230619
3      1  252051
4      1  375418
...   ..     ...
3498  24  286741
3499  24  139200
3500  24   66639
3501  24  221331
3502  10  206005

[3503 rows x 2 columns]

**The solution : copied from https://www.jianshu.com/p/d652466d571e**  
Still to be fully understood :-)

In [18]:

QUERY = '''SELECT Genre.Name,COUNT(Genre.Name) as num 
FROM Genre,Track,
((SELECT avg(Milliseconds) as average 
FROM Genre,Track WHERE Genre.GenreId=Track.GenreId) as subquery)
WHERE Genre.GenreId=Track.GenreId
and Track.Milliseconds<average
GROUP BY Genre.name
ORDER BY num DESC
LIMIT 1;
'''

c.execute(QUERY)
rows = c.fetchall()
import pandas as pd 
import pprint
df3 = pd.DataFrame(rows)
pprint.pprint(df3)

      0     1
0  Rock  1162